<head>

</head>

<body>
 	
  		<a href="/add-new-words">Добавить новое слово в базу</a><br>
  		<a href="/test">Перейти к тесту</a><br>
  		<a href="/stats">Посмотреть статистику тестирований</a><br>
  		<a href="/words">Список слов и статистика по ним</a><br />
  		<a href="/reset-statistics">Сбросить счётчики слов</a><br />
  	

	
</body>
