<center>
	<form action="/reset-statistics" method="POST">
<h3>Выберете слово, для которого надо сбросить статистику:</h3>
<input type="text" name="word_for_reset" placeholder="введите id слова либо all" />

<input type="submit" value="Сбросить">
</form>
</center>